language: node_js
node_js:
- 8.11.2
cache: yarn
addons:
  apt:
    packages:
    - lftp
deploy:
  provider: script
  script: "./deploy.sh"
  on:
    branch: master
env:
  global:
  - secure: pMl38Ko2f/9W7BIRpx4WtlzcX8IJA341zIHpc4fLEeGX/+TnuuYb2c9G6MERlGGA/fkBAoItfI5PAe6+DeonKFHGiluhnvKBYH0JBZWLR1AQspqLATt/qoc3IY/gG5CKPLU1FJZhYkE8Gw+YwVtGQGzn6jUnKA66MGQ6Hfu6gx7ac5t42d1SAKNOryXHkbJjXr+/dN5T65pzx4sCdrOxVxyK2rEC0YH5/85VKlZhvOt2OMUrpJl25NIo4zqgKu8myWkIzOeh+5auYpTu0fxIY11TOLZTW4OPwIJfo4Wkezoj7inDSLGA1nm7B67JMg9vlMuqHYWW80VhBgN7QJmq5fCYKOZdbDN9BhV/Sw/XYr7QmQJonAkqtEx4sqmCvEH/DxgPTlUtl1maavSBOH+IFWz+JYzuDEquCk1TbRmUETLa2SyfoVShPuUxDLuJeSackVjJCLzf9WK5lx+btrGUuzX1RRTQ5LQWgUwhGmzwu5d+pvt5ChJbfW8AVR274MnpOcgRF73yPPcERu7E/4TWL5ZCayLhuueI+xsRkZ/wzKcMAXZYyph6NgruJPosigKSEkwWjWXEiIfGmQHDffMebuScoDVNSmL0IC6v6XBaIk9X5cGiNn+Rh95movWvO2s5hfdDKVAZ+nNfOcY4pVQXpEjBihKk12TBto0YQ5oWI+w=
  - secure: VeSfBfSKhDY/HIxC0Pj4mZ5zOJW45XAXEgZTfAj0GzN3Ju2NdotB/wH1fE5ImCxemoZkvbV86XsoTo9srI6oC9Odxt6K0cX8dPWzUKrO/QbNcbVQYvKSOi2n4UjaWsPF99vTN2wNir0DafVHYZAEBJozE9YpKywwZBtzD1yY/QEQN+fAu8PqynGUKLhoMgkrwqVQwG3DBnpar5Ra+Jr3wPOoe9QETZSmJDe3nTzwylQ13Zlq1DnuBCbCYi+IkGIjVWFVnGXk/e3ryKunH/pHzLqZ5a92rX6+6WhtGfk/VrLBqNicXsjNLCcIPPuC6x33Fy7NmnUaqwClXr307Bj6i8PlWZ0fv1L/ZVPGrEOMu6JVakeqUmMm73FDDzsVMH3ha8erJaNSjmVTQjVJ5CBQanzi1Vq3eBzSieWFR1q2fbCX0RfRJX3Byjp9VMNltmI/TVeJlV7jPMTECrS+dgQ6qW4DX1APwiRg9YCJDBCaZheA4YJ7pXxfUQ23Iq3/YG12AawCcVVu1DCHakulN/dn0mKzkZHC4lE+J64yClrMxx3EbULkhICkatQ9MXmtA9Hd3rzjnCZVYVL3GqWL6DHNnZrhU5xahQTV8SefazJL9z2Kke3yimEBPRPdY0mhtbn5N0ceM/97HeRv8RRPEuBAz1alo6vVGquUN8+2ErsnMEM=
  - secure: MtsvrAJYRAfWNTN3fc6SFkDXGsYnxtGLq2GU+nCT5SW509ZWT71e+Hkv3ERgZuXE4s4KofnMcYwwehiB57QN+tApjbBojoGuwpcKZlFShCrlPXYkmlNpCdWaqHoisMW33osOHfcjBY7uIpobCuPINfk/zFmqt3BUjY0/CfhmtOX3Wsn9STK/jIQJ5VH8dyv68A47PCu3CAK3Z/3IERm5Apo1p7X7SqgHnEaEmf7nELtI/NtUGViqcR/BluxFt4L32gol651/TEeULvWpyD5pGmItbV4abSh5e9Aj9U5yw2iNKaDqXb0vqZKT4/NEkPJGCovWofN/X6zv59LQm3Bf04Igrf7wc/moUYnI++aXz41TB2tgsKQXnja7efzre1oyZ95wBKFmpKIhcJXib3nKHr0jPqiF4cbwWzzYc4+qEqhKnfeGkMDGGa1f8xl9XK1Axj2OBITLaemV6aKCY2CdDO+B/q6ZeCLFxrOVBrwKvhAmqQJkEpMS08HGcwsXqgFrMtbynEbAnAhozjJa/vrrYJ7e1f6vbJ6x54OwMNgiEXWI/F+Q5onR0G1fbDGTKI9I2YUepeL6w7QuIW2PXcrWBNTDfG+wTWplmp5wlSGIyy1yo6f5K4qCjmhTrfYIAz2qEsIAfFDFw6DyvRu7NHC72bfSPNG2kviFHYgPWs+UcDc=
