.text-container {
  margin: 0;
  padding: 0;
}

.text-section {
  /*float: left;*/
  /*width: 50%;*/
}

.text-section .full {
  /*float: left;*/
  /*width: 50%;*/
}

.text-section.split {
  /*float: left;*/
  /*width: 50%;*/
}

.section-button {
  /*float: right;*/
  /*margin: inherit!important;*/

}

.text-row {
  /*padding: 0.5em;*/
  margin: 0.5em;
}

/*.text-column {*/
/*!*margin: 0.5em;*!*/
/*!*padding: 0.5em;*!*/
/*}*/
.text-column {
  /*float: left;*/
  padding: 1em;
}

.text-column h1 {
  float: left;
  background-color: #FCEA10;
  display: inline-block;
  font-weight: 700;
  margin-right: 0.5em;
  margin-bottom: 0;
  font-size: 1.5em;
  padding: 0.3em;
}

.text-column p {
  /*padding: 0.5em;*/
  font-size: 1.1em;
}

.text-column button {
  font-family: 'Roboto Slab', serif !important;
  background-color: #FCEA10 !important;
  color: #000000 !important;
  border-radius: 0!important;
}

.centered {
  display: inline-flex;
  justify-content: center;
}

/*Column widths*/
.col-width-1 {
  width: 10%;
}

.col-width-2 {
  width: 20%;
}

.col-width-3 {
  width: 30%;
}

.col-width-4 {
  width: 40%;
}

.col-width-5 {
  width: 50%;
}

.col-width-6 {
  width: 60%;
}

.col-width-7 {
  width: 70%;
}

.col-width-8 {
  width: 80%;
}

.col-width-9 {
  width: 90%;
}

.col-width-10 {
  width: 100%;
}
