.form-section {
  /* min-height: auto; */
  /*padding: 1em 0;*/
  /*width: 100%;*/
  margin-top: 0 !important;

}

.form-section__header{
  text-transform: capitalize;
  font-size: 1.4em;
}

.form-section__up{
  display: block;
  text-align: center;
  margin-bottom:40px;
}

 .hidden{
  display: none;
}
.make-color {
    background-color: #ee2a7b;
}

@media (max-width: 991px){
  .form-section{
    padding: 0;
    min-height: 0;
  }

  .form-section__header{
    font-size: 1.3em;
    margin-bottom: 0.1em; 
  }

}
