.header {
  text-align: center;
  height: 100%;
  padding: 1em;
}

img {
  max-width: 100%;
  max-height: 100%;
  min-height: 50px;
}

@media (max-width: 991px){
  .header{
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    padding: 0.5em 0.1em 0.1em;
  }
}
