.information-box {
  padding: 1em;
  width: 100%;
}

.information-box h1 {
  float: left;
  clear: right;
}

.information-box {
  float: left;
}

/* Question and Options */
.question-base {
  padding: 1em;

}

.question-title {
  border: none;
  padding: 0.5em;
  border-bottom: 1px solid rgba(189, 189, 189, 0.6);
  margin-bottom: 1em;
}

.option-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.option-row {
  width: 100% !important;
  padding: 1em;
}

.option {
  border-radius: 2em;
  margin-bottom: 2px;
}

.option.selected {
  width: 100% !important;
  background-color: rgb(236, 236, 236);
  border-radius: 2em;
}

.sub-option-container {
  /*padding-left: 2em !important;*/
}

.content.active {
  padding-top: .3em !important;
  padding-bottom: .3em !important;
}

.accordion {
  padding-bottom: .4em !important;
  font-size: 14px !important;
}
.ui.styled.accordion .accordion .active.title,
.ui.styled.accordion .accordion .title:hover,
.ui.styled.accordion .active.title,
.ui.styled.accordion .title,
.ui.styled.accordion .title:hover{
  font-family: 'Roboto Slab', serif !important;
  font-weight: 400!important;
  font-size: 16px !important;
}
.question-base .active.title {
  width: 100% !important;
  background-color: rgb(223, 223, 223) !important;
}

.sub-option-container.option-container > .option {
  margin-bottom: 0;
  border-radius: 1em;
}
