.simple-grid-container {
  margin: 0;
  padding: 0;
}
.simple-grid-container .simple-row {
  padding: 0.5em;
}

.simple-grid-container .simple-row .simple-column {
  float: left;
  padding: 1em;
}

.simple-column h1 {
  float: left;
  background-color: #FCEA10;
  display: inline-block;
  font-weight: 700;
  margin-right: 0.5em;
  margin-bottom: 0;
  font-size: 1.5em;
  padding: 0.3em;
}

.simple-column p {
  /*padding: 0.5em;*/
  font-size: 1.1em;
}

.simple-column button {
  font-family: 'Roboto Slab', serif !important;
  background-color: #FCEA10 !important;
  color: #000000 !important;
  border-radius: 0!important;
}

/* Positioning */
.centered {
  display: inline-flex;
  justify-content: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

/* Column widths */
.col-width-1 {
  width: 10%;
}

.col-width-2 {
  width: 20%;
}

.col-width-3 {
  width: 30%;
}

.col-width-4 {
  width: 40%;
}

.col-width-5 {
  width: 50%;
}

.col-width-6 {
  width: 60%;
}

.col-width-7 {
  width: 70%;
}

.col-width-8 {
  width: 80%;
}

.col-width-9 {
  width: 90%;
}

.col-width-10 {
  width: 100%;
}
