/* .header {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  height: auto;
  top: 0;
  position: sticky;
} */

img {
  max-width: 90%;
  height: auto;
  align-self: center;
  margin-bottom: auto;
}

@media (max-width: 991px){
  .header{
    font-size: 1.5em;
  }
}
