.question-base {
  padding: 1em;

}

.question-title {
  border: none;
  padding: 0.5em;
  border-bottom: 1px solid rgba(189, 189, 189, 0.6);
  margin-bottom: 1em;
}

.option-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.option-row {
  width: 100% !important;
  padding: 1em;

}
.option {
  border-radius: 2em;
  margin-bottom: 2px;
}
.option.selected {
  width: 100% !important;
  background-color: rgb(236, 236, 236);
  border-radius: 2em;
}
.pull-right{
  float: right;
}

