.step{
  position: fixed;
  /* top: 22vh; */
  /*left: 0;*/
}

.step__section-wrapper{
  display: flex;
  flex-direction: column;
  
}

.step__text{
  color: #333;
  margin-left: 10px;
}

.step__text:first-letter{
  text-transform: capitalize;
}

.step__line{
  width: 2px;
  height: 50px;
  margin-left: 20px; 
  background-color:#E5E5E5;
}

.step__section{
  display: flex;
  align-items: center;
}

 .step__circle{
    border: 2px solid #E5E5E5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3.5px; 
    width: 42px;
    height: 42px;
}

.step__circle--active{
  /* background-color:#2997fe; */
  border: none; 
  animation: changeColor 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

  @keyframes changeColor{
    0%{
      background-color: #f7f7f7;
    }
    100%{
      background-color: #2997fe;
      border: none;
    }
  }


@media (max-width: 991px) {
  .step{
    top: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .step__section-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 85px;
  }

  .step__section{
    margin: 5px;
    position: relative;
    max-width: 50px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .step__number{
    color: #fff;
    font-size: 0.8em;
    background-color:#c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    align-self: center;

  }

  .step__text{
    display: block;
    font-size: 0.7em;
    color: #333;
    line-height: 1.2em;
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
  }

  .step__icon{
    display: none !important;
  }

  .step__line{
    display: none;
  }

  .step__section-wrapper--active .step__section{
    margin-top:2.5px;
  }

  .step__section-wrapper--active .step__number{
    background-color:#c8c8c8;
    width: 25px;
    height: 25px;
    animation: changeColor 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }


  .step__section-wrapper--active .step__text{
    color: #2997fe;
    font-weight: 600;
    margin-top: 7.5px;  
    animation: changeTextColor 600ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes changeTextColor{
    100%{
      color: #2997fe;
    }
  }


}
