/* ********** Font *********** */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.Roboto {
  font-family: 'Roboto Slab', serif;
}

/* *********** Util *********** */
.right{float:right;margin-left:1em;}

.left{float:left;margin-right:1em;}


/* ****** experimental ******* */
.square{
  border-radius: 0;
}
.test-box{
  height: 100px;
  width: 100px;
}
.site-yellow-brighter{
  background-color: #FCEA10;
}
.site-yellow-darker{
  background-color: rgb(254,205,27);
}
/* **** experimental end ***** */

/* ******* Page Layout ******* */
.App {
  /* padding-top: 30px; */
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  height: 100vh;
  padding: 0;
  margin: 0;
  }

.header {
  width: 100%;
  text-align: center;
  /* padding-bottom: 10px; */
  padding-top: 1em;
  height: auto;
  top: 0;
  /* position: sticky; */
  /* background-color: antiquewhite; */
}
.content{
  /* position: absolute; */
  /* top: 0; */
  /* height: 80%; */
  max-height: 60%;
  padding-bottom: 5%;
  /* background-color: aliceblue; */
  /* margin-top: auto;
  margin-bottom: auto; */
}

.form-buttons {
  width: auto;
  bottom: 0;
  position: sticky; 
  height: auto;
  /* margin-top:1em; */
  /* margin-bottom:0; */
  /* padding-top: 0.5em; */
  padding-bottom: 5%;
  border: 0.2em solid white;
  /* border: 0.2em solid rgb(228, 228, 228); */
  z-index: 10000;
  
  background-color: white;
}
/* ******** Layout End ******** */

/* ****** Content Layout ****** */
.box {
  display: block;
  border-radius: 5px;
  padding: 1.2em;
}

.question-box{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.answer-text{
  word-wrap: break-word;
  padding: 2px 0 2px 0;
  display: block;
}

.box-fill{
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 2em;
  border-image-slice: 1;
  margin-bottom: 0.3em;  
  /* background: linear-gradient(to right,rgb(254, 205, 27),white 20%); */
  /* border: 0.2em solid rgb(254,205,27); */
  /* border-image-source: linear-gradient(to right,rgb(254,205,27),white, white); */
}

.box-nofill{
  /* border: 0.2em solid white; */
  cursor: pointer;
  border-radius: 2em;
  margin-bottom: 0.3em;
}


/* ******** Leftovers ********* */
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
