/* ********** Font *********** */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.Roboto {
  font-family: 'Roboto Slab', serif;
}
body{
  background-color: rgba(0, 0, 0, 0.03);
}
/* ******* Page Layout ******* */
.App {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  /* margin: 0 0 0 0; */
  padding: 0;
  width: 100%;

  background-color: inherit;
}
.l-container{
  /* max-width: 1000px; */
  height: 100vh;
  box-shadow: 0px 1px 250px 100px rgba(236, 236, 236, 0.75);
  /* background-color: rgba(247, 247, 247, 1); */
  background-color: inherit;
}
.l-top{
  height: 20vh;
  margin: 0;
  /* display: flex;
  flex-flow: column;
  justify-content: space-between; */
}


.l-middle{
  height: 75vh;
  box-sizing: border-box;
  background-color: inherit;
  margin: 0;
}
.l-bottom{
  height: 20vh;
  background-color: white;
  margin: 0;
}
.welcome-box{
  width: 100%;
  /* top: 0; */
  min-height: 75vh;
  max-height: 80vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  /* margin-bottom: auto; */
  /* font-size: 1.5em; */
}
.welcome-box h2{
  font-family: 'Roboto Slab', serif;
  text-align: center;
}


.child-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: stretch;
  width: auto;
  background-color: inherit;
  padding: 5px;
  
}

.content{
  top: 0;
  min-height: 50vh;
  max-height: 60vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}
.content::-webkit-scrollbar { 
  /* display: none; */
  width: 2%;

}

.form-buttons {
  width: inherit;
  position: sticky; 
  border: 0em solid white;
  background-color: inherit;
  padding: 1em 0;
  height: 20vh;
  min-height: 20vh;
  z-index: 1000;
  bottom: -1vh;

  /* box-shadow: 0 -5px 5px -4px rgba(0, 0, 0, 0.1); */

}

.header {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0;
}

/* ******** Layout End ******** */

/* ****** Content Layout ****** */
.component-box {
  padding: 1.2em;
  margin: 0;
}

.question-box{
  font-size: 1.5em;
}

.answer-text{
  word-wrap: break-word;
  padding: 2px 0 2px 0; 
}

.box-fill{
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 2em;
  margin-bottom: 0.3em;  
}

.box-nofill{
  cursor: pointer;
  border-radius: 2em;
  margin-bottom: 0.3em;
}


/* *********** Util *********** */
.right{float:right;margin-left:1em;}

.left{float:left;margin-right:1em;}

.site-yellow-brighter{
  background-color: #FCEA10;
}
.site-yellow-darker{
  background-color: rgb(254,205,27);
}
