body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif !important;
  background-color: #333333 !important;
  height: 100vh;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif !important;
  font-weight: 700 !important;
}

#root {
  height: 100vh;
}
.form-button {
  font-family: 'Roboto Slab', serif !important;
  background-color: #FCEA10 !important;
  color: #000000 !important;
}
.form-button:hover {
    background-color: rgb(254,205,27) !important;
}
.form-button-alternate  {
  font-family: 'Roboto Slab', serif !important;
  background-color: #ffffff !important;
  color: #333333 !important;
  /*border-radius: 0!important;*/
  box-shadow: 0 0 0 2px #FCEA10 inset!important;
}
/*.form-button-alternate:hover  {*/
  /*background-color: #FCEA10 !important;*/
/*}*/
