.container {
  /*margin: 0 auto;*/
  padding: 0;
  /*height: fit-content;*/
  /* width: 50%; */
  background-color: #f7f7f7;
}

.top {
  /*height: auto;*/
  /*padding: 1em 1em 1em 1em !important;*/
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.l-middle {
  height: 80vh;
  /* overflow-y: auto; */
}


.l-bottom {
  /*height: 20vh;*/
}


/* ********** Font *********** */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.Roboto {
  font-family: 'Roboto Slab', serif;
}

/* *********** Util *********** */
.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
  margin-right: 1em;
}

.site-yellow-brighter {
  background-color: #FCEA10;
}

.site-yellow-darker {
  background-color: rgb(254, 205, 27);
}

/* ******* Page Layout ******* */
.ui.container.App {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.l-container {
  height: 100vh;
}

.l-top {
  height: 20vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.l-middle {
  height: 80vh;
  background-color: white;
  margin: 0;
}

.l-bottom {
  /*height: 20vh;*/
  background-color: white;
  margin: 0;
}

.form-container {
  /* height: max-content; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: -webkit-fill-available; */
  height: stretch;
}

.content {
  /*height: 60vh;*/
  padding:1em;
}
.form-content{

}
.form-buttons {
  /*width: 100vw !important;*/
  margin:0 !important;
  bottom: 0;
  /*left:0;*/
  /*right:0;*/
  position: sticky;
  border: none;
  border-top: 0.2em solid white;
  background-color: white;
  height: 20vh;
  /*min-height: 10vh;*/
  z-index: 10000;

}

.header {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0;
}

/* ******** Layout End ******** */

/* ****** Content Layout ****** */
.component-box {
  padding: 1.2em;
  margin: 0;
}

.question-box {
  font-size: 1.5em;
}

.answer-text {
  word-wrap: break-word;
  padding: 2px 0 2px 0;
}

.box-fill {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 2em;
  margin-bottom: 0.3em;
}

.box-nofill {
  cursor: pointer;
  border-radius: 2em;
  margin-bottom: 0.3em;
}

@media only screen and (max-width: 767px) {
  .ui.container.App{
    width: 100vw !important;
    margin: 0!important;
  }
  .ui.grid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .top {
    padding: 0 !important;
  }

  .l-middle.column {
    /*height: 80vh;*/
    width: 100vw !important;
  }
}
.ui.form{
  width: 100vw !important;
}
.ui.grid .column{
  padding: 0!important;
}
