.page-container {
  height: 100vh;
  padding: 0;
  margin: 0;
}
.page-header{
  height: 15vh;
  width: calc(723px + 2rem)!important;
}
.page-content-container{
  min-height: 85vh;
  width: calc(723px + 2rem)!important;
  /*padding: 0 !important;*/
}
.page-content{
  /*margin-top: -1em;*/
  height: 99%;
  background-color: #ffffff;
  /*height: 100%;*/
}

#container {
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  background-color: #ffffff;
}


.test-class{
  background-color: white;
}
.ui.progress{
  margin-bottom: 0 !important;
}
.ui.grid .column{
  padding: 0 !important;
}
.welcome-box {
  padding: 1em;
}
.progress-container{
  padding-left: .5em;
  padding-right: .5em;
}
.progress-container .ui.progress .bar{
  /*background-color: #FCEA10;*/
  background-color: rgb(254, 205, 27);
}

@media only screen and (max-width: 500px) {
  .page-header {
    height: 10vh;
  }
  body {
    background-color: #ffffff !important;
  }
  #container {
    margin: 0 !important;
    padding: 1em;
  }
}
